@font-face {
    font-family: sans;
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/IRANSansWeb(FaNum).eot');
    src: url('../fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff2'), url('../fonts/IRANSansWeb(FaNum).woff') format('woff'), url('../fonts/IRANSansWeb(FaNum).ttf') format('truetype');
}

body{
    font-family: sans;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12{
    float: right;
}

.search .leftbox h5{text-align: right}
.search .rightbox h5{text-align: left}
.content .textbox h4{text-align: center}
.content .imgbox h4{text-align: right}
.contenttwo .textbox h4{text-align: center}
.contenttwo .imgbox h4{text-align: right}
.contentthree .textbox h4{text-align: center}
.contentthree .imgbox h4{text-align: right}

