/*start topmenu*/
.topmenu{padding: 0px 180px;}
.topmenu .col-md-2{padding-left: 0px;padding-right: 0px}
.topmenu .col-md-6{padding-left: 0px;padding-right: 0px; margin-top: 10px;}
.topmenu .col-md-6 .btn-outline-success{width: 7%; padding: 4px; background: #5325d8;}
.topmenu .col-md-6 .btn-outline-success .flaticon-search{margin-left: -19px; color: #fff;}
.topmenu .col-md-6 input{width: 80%; padding: 16px; text-align: right}
.topmenu .col-md-2 .btn-dark{width: 74%; background: #fff; border: 1px solid #ded4d9; color: #e1d65c;}
.topmenu .col-md-2 .btn-dark:hover{color: #00ad00}
.topmenu .col-md-2 .btn-info{width: 90%; background: #fff; border: 1px solid #ded4d9; color: #e1d65c;}
.topmenu .col-md-2 .btn-info:hover{color: #00ad00}
.topmenu .col-md-2 .btn-Success{width: 93%; padding: 7px; background: #fff; border: 1px solid #ded4d9; color: #00ad00}
.topmenu .col-md-2 .btn-Success:hover{color: #e5d68e}
.topmenu .leftbox{padding-left: 2%; margin-top: 10px;}
.topmenu img{margin-top: -3px; margin-left: -71px; width: 120%;}
a{text-decoration: none}


/*start header*/
.header{background: #f0eeef; border-top: 1px solid #c8c8c8; border-bottom: 1px solid #c8c8c8; margin-top: -22px;}
.header .flaticon{font-size: 30px;color:  #6451c2}
.header h3{font-size: 16px; margin-left: 19px; margin-top: 0px;}
.header .show-on-hover:hover > ul.dropdown-menu { display: block;}
.header .btn-group > .btn:first-child { margin-left: 19px; border: 0px; background: #f0eeef;}
.header .btn-group > .btn:first-child:hover{color: #52c007}
.header li{display: inline; float: right;}
.header .btn-group{margin-left: -28%}
.header ul{width: 100%;}
.header .btn-group.open .dropdown-toggle{box-shadow: none}
.header .dropdown-menu{background: #f0eeef; border-radius: 0px;}
.header .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { color: #fb0a57; text-decoration: none; background:none}
.header a{text-decoration: none}
/*start slider*/
#wrapper {
	background-color: #fff;
	width: 100%;
	height: 450px;
	margin-top: -225px;
	overflow: hidden;
    position: relative;
    clear: both;
	top: 50%;
	left: 0;
}
#carousel img {
	display: block;
	float: left;
}
#prev, #next {
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	height: 450px;
	width: 50%;
	top: 0;
	position: absolute;
}
#prev:hover, #next:hover {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
}
#prev {
	left: -495px;
}
#next {
	right: -495px;}
#pager {	margin-left: -470px;	position: absolute;	left: 50%;	bottom: 10px;}
#pager a {	border: 2px solid #fff;	border-radius: 10px;	display: inline-block;	width: 10px;	height: 10px;	margin: 0 5px 0 0;}
#pager a:hover {	background-color: rgba(255, 255, 255, 0.5);}
#pager a span {	display: none;}
#pager a.selected {background-color: #fff;}



/*start search*/
.search .col-md-6{height: 120px;}
.search .rightbox{background: #676767}
.search .leftbox{background: #444142}
.search .rightbox .input-group-btn{width: 15%;}
.search .rightbox .btn-primary{width: 65px; height: 60px; margin-top: 0px; border-radius: 10px; background: #5325d8; border-color: #5325d8}
.search .rightbox .form-control{height: 50px;}
.search .rightbox .input-group .right{height: 59px; width: 30%; border-top-right-radius: 15px; border-bottom-right-radius: 15px; text-align: right}
.search .rightbox .input-group .left{height: 59px; border-top-left-radius: 15px; border-bottom-left-radius: 15px; text-align: right}
.search .double-input .form-control { width: 50%; border-right-width: 0px;}
.search .double-input .form-control:focus { border-right-width: 1px;}
.search .triple-input .form-control { width: 33.3%; border-right-width: 0px;}
.search .triple-input .form-control:focus { border-right-width: 1px;}
.search .leftbox .imgbox{float: inherit; width: 470px;}
.search .rightbox .input-group{margin-top: 16px; width: 535px;}
.search .rightbox h5{color: #fff; margin-left: 3%}
.search .leftbox h5{color: #fff; margin-right: 7%}
.search .leftbox .imgbox img{width: 100%; height: 65px; margin-top: 2px;}


/*start content*/
.content{background: #e8dfff;}
.content .textbox{border-bottom:1px solid #5325d8; padding-right: 116px;}
.content .textbox .centerbox{border-bottom:4px solid #5325d8; width: 26%;}
.content .imgbox p{text-align: right; background: #fff; z-index: 99999999; position: absolute; margin-top: -30px; margin-left: 142px;}
.content .imgbox img{width: 100%}
.content .imgbox h4{background: #5325d8; color: #fff; height: 30px;}
.content .imgbox .centerbox img { height: 406px; margin-top: 10px;}
.content .imgbox .centerbox p{margin-left: 160px; width: 50%;}
.content .imgbox .col-md-4{padding-right: 2px; padding-left: 2px;}
.content .imgbox{padding-right: 9%; padding-left: 3%;}


/**/
.contenttwo{background: #ffdee9}
.contenttwo .textbox{border-bottom:1px solid #f90653; padding-right: 116px;}
.contenttwo .textbox .centerbox{border-bottom:4px solid #f90653; width: 26%;}
.contenttwo .imgbox p{text-align: right; background: #fff; z-index: 99999999; position: absolute; margin-top: -30px; margin-left: 142px;}
.contenttwo .imgbox img{width: 100%}
.contenttwo .imgbox h4{background: #f90653; color: #fff; height: 30px;}
.contenttwo .imgbox .centerbox img { height: 406px; margin-top: 10px;}
.contenttwo .imgbox .centerbox p{margin-left: 160px; width: 50%;}
.contenttwo .imgbox .col-md-4{padding-right: 2px; padding-left: 2px;}
.contenttwo .imgbox{padding-right: 9%; padding-left: 3%;}

.contentthree{background: #eafddb}
.contentthree .textbox{border-bottom:1px solid #3cbc00; padding-right: 116px; }
.contentthree .textbox .centerbox{border-bottom: 4px solid #3cbc00; width: 26%;}
.contentthree .imgbox p{text-align: right; background: #fff; z-index: 99999999; position: absolute; margin-top: -30px; margin-left: 142px;}
.contentthree .imgbox img{width: 100%}
.contentthree .imgbox h4{background: #3cbc00; color: #fff; height: 30px;}
.contentthree .imgbox .centerbox img { height: 406px; margin-top: 10px;}
.contentthree .imgbox .centerbox p{margin-left: 160px; width: 50%;}
.contentthree .imgbox .col-md-4{padding-right: 2px; padding-left: 2px;}
.contentthree .imgbox{padding-right: 9%; padding-left: 3%;}

.newsletter{background: #fff4b4; padding-bottom: 15px; margin-top:1%}
.newsletter .col-md-6{padding-left: 0px; padding-right: 0px;}
.newsletter h3{text-align: center; color: #5325d8}
.newsletter p{text-align: center}
.newsletter .input-group{width: 78%; margin-left: 11%;}
.newsletter .input-group .form-control{text-align: right; height: 50px;}
.newsletter .btn-primary {color: #fff; background-color: #5325d8; border-color: #5325d8;}
.newsletter .input-group button{height: 50px;}

.footer .top-footer{background: #4113c4;}
.footer .top-footer h3{color: #fff; text-align: center; direction: rtl}
.footer .top-footer .flaticon{font-size: 54px; color:  #fff; float:inline-end}
.footer .top-footer .flaticon:hover{color: #00ad00}
.footer .center-footer{background:#370bb4 }
.footer .center-footer h4{text-align: right;direction: rtl;color: #fff}
.footer .center-footer .col-md-8 .topbox{border-bottom: 1px solid #fff}
.footer .center-footer .col-md-8 .bottombox li{display: inline; color: #fff; margin-left: 6%; float: right;}
.footer .center-footer .col-md-8 .bottombox p:hover{color: #00ad00}
.footer .center-footer .col-md-8 .bottombox a{color: #fff; text-decoration: none}
.footer .center-footer .col-md-8 .bottombox a:hover{color: #00ad00}
.footer .center-footer .col-md-4 .topbox img{width: 80%; margin-left: 13%;}
.footer .center-footer .col-md-4 .bottombox .col-md-6{padding-left:1px; padding-right: 1px }
.footer .center-footer .col-md-4 .bottombox img{width: 70%;}
.footer .center-footer .col-md-4 .bottombox .leftbox img{margin-left: 5%}
.footer .center-footer .col-md-4 .bottombox .rightbox img{margin-left: 36%; margin-top: -3px;}
.footer .bottom-footer{background: #2c0b8b;}
.footer .bottom-footer h5{color:#fff; text-align:center; direction: rtl}
.footer .center-footer .col-md-8 .bottombox{margin-top: 4%}

@media (max-width:768px){
    .topmenu img { margin-left: 28px;}
    .topmenu .imgbox {width:120px;}
    .topmenu .col-md-6 input{margin-left: 40px; margin-top: -32px; width: 146%;}
    .topmenu .col-md-6 .btn-outline-success{width: 42%; margin-left: -10%;}
    .topmenu .col-md-6 .form-inline{margin-left: -34%;}
    .topmenu .col-md-2 .right{margin-right: 112%;}
    .topmenu .col-md-2 .right .btn-dark{width: 173%;}
    .topmenu .col-md-2 .left{margin-top: -50%; margin-right: -95%;}
    .topmenu .col-md-2 .left .btn-info{width: 130%;}
    .topmenu .col-md-2 .btn-Success{width: 160%; margin-bottom: 10px;}
    .header{padding-right: 5px}
    .header .btn-group > .btn:first-child{margin-left: 0px; font-size: 10px}
    .search .rightbox h5{font-size: 8px; margin-left: 85px}
    .search .rightbox .btn-primary { width: 60px; margin-top: 0px;}
    .search .rightbox .input-group{margin-left: 30px;}
    .search .leftbox h5 { margin-left: 0%; font-size: 8px;}
    .search .leftbox .gpsbox img {margin-left: -56px;}
    .content .textbox .centerbox { width: 100%;}
    .contenttwo .textbox .centerbox { width: 100%;}
    .contentthree .textbox .centerbox { width: 100%;}
    .newsletter p{margin-left: 20px; margin-right: 20px; font-size: 10px}
    .footer .top-footer .flaticon {margin-right: 14px;}
    .footer .top-footer .col-md-4{padding-left: 35px; padding-right: 26px;}
    .footer .center-footer h4 { font-size: 10px;}
    .footer .center-footer p{font-size: 10px}
    .footer .center-footer .col-md-4 .textbox{margin-left: -20px;}
    .footer .center-footer .col-md-4 .bottombox{margin-right: 20px;}
    .footer .bottom-footer h4{font-size: 8px}
}

/*start register*/
.registeration{background: #fff}
.registeration .fullscreen_bg {position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-size: cover; background-position: 50% 50%; background-repeat:repeat;}
.registeration .mainbox{margin-top: 50px; float: unset; }
.registeration .panel-info .panel-title{text-align: center; color: #5325d8}
.registeration .panel-info .panel-heading .col-md-5{border-bottom: 1px solid #5325d8; margin-top: 25px}
.registeration .panel-info .panel-heading .col-md-2{border-bottom: 3px solid #5325d8}
.registeration .panel-info > .panel-heading {margin-top: 0px;color: #fff;background-color: #e8dfff;border-radius: 0px;border-color: #e8dfff;width: 100%;margin-left: 0%;}
.registeration .panel-info{border-radius: 0px;border-color: #5325d8;background: #e8dfff;}
.registeration .panel-info .form-group .btn-block{width: 100%; margin-left: -35%; color: #fff; background-color: #52bf0d; border-color: #52bf0d; border-radius: 0px;}
.registeration .panel-info .form-group .btn-block:hover{background: #4113c4; border-color: #4113c4;}
.registeration .panel-info .form-group input{text-align: right; border-radius: 0px;border-color: #5325d8;}
/*end register*/

/*start sign in*/

.sign-in{background: #fff}
.sign-in .fullscreen_bg {position: fixed; top: 0; right: 0; bottom: 0; left: 0; background-size: cover; background-position: 50% 50%; background-repeat:repeat;}
.sign-in .mainbox{margin-top: 50px; float: unset;}
.sign-in .panel-info .panel-title{text-align: center; color: #5325d8}
.sign-in .panel-info .panel-heading .col-md-5{border-bottom: 1px solid #5325d8; margin-top: 25px}
.sign-in .panel-info .panel-heading .col-md-2{border-bottom: 3px solid #5325d8}
.sign-in .panel-info > .panel-heading {margin-top: 0px;color: #fff;background-color: #e8dfff;border-radius: 0px;border-color: #e8dfff;width: 100%;margin-left: 0%;}
.sign-in .panel-info{border-radius: 0px;border-color: #5325d8;background: #e8dfff;}
.sign-in .panel-info .form-group .btn-block{width: 100%; margin-left: -35%; color: #fff; background-color: #52bf0d; border-color: #52bf0d; border-radius: 0px;}
.sign-in .panel-info .form-group .btn-block:hover{background: #4113c4; border-color: #4113c4;}
.sign-in .panel-info .form-group input{text-align: right; border-radius: 0px;border-color: #5325d8; }

/*end sign in*/

/*start location*/
.flaticon:hover{color: #00ad00}
.glyphicon:hover{color: #00ad00}
.location{background: #e8dfff; padding-left: 8%; padding-right: 8%;}
.location h5{text-align: right; direction: rtl;}
.location .location-box{background: #fff;}
.location .location-box .topbox .col-md-5 .textbox{box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white;}
.location .location-box .textbox{border: 1px solid #d4d4d4; padding-right: 5%; padding-left: 5%;}
.location .location-box .textbox h4{text-align: right; direction: rtl; color: #4113c4}
.location .location-box .textbox p{text-align: right; direction: rtl}
.location .location-box .rightbox{ padding-left: 50px; padding-right: 50px; border-right: 2px solid #e8dfff; padding-top: 3%; padding-bottom: 2%;}
.location .location-box .textbox li{display: inline; float: right; margin-right: 23%;}
.location .location-box .textbox .shop p{font-size: 17px}
.location .location-box .textbox .btn-success{border-radius: 0px; margin-left: 44%; color: #fff; background-color: #52bf0e; border-color: #52c007;}
.location .location-box .textbox .btn-success:hover{background:#4113c4; border-color: #4113c4 }
.location .location-box .textbox .col-md-5{padding-left: 0px; padding-right: 0px;}
.location .location-box .textbox .col-md-5 .col-md-4{padding-left: 0px; padding-right: 0px;}
.location .location-box .textbox .col-md-5 .col-md-8{padding-left: 0px; padding-right: 0px;}
.location .location-box .textbox .flaticon-location-pointer{font-size: 22px; margin-left: -10%;}
.location .location-box .textbox .flaticon-trolley{font-size: 22px}
.location .location-box .textbox .col-md-3{padding-left: 0px; padding-right: 0px;}
.location .location-box .textbox .flaticon{font-size: 22px;}
.location .location-box .textbox .flaticon-share{font-size: 22px; margin-left:-10px}
.location .location-box .textbox .glyphicon{font-size: 22px; margin-left: 35%; margin-top: 3%;}
.location .location-box .textbox a{color: #000;text-decoration: none;}
.location .location-box .col-md-7{padding-top: 3%; padding-right: 3%; padding-left: 3%;}
.location .location-box .col-md-7 .slide .carousel-inner{box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white;}
.location #myCarousel .nav a small { display:block;}
.location #myCarousel .nav { background:#eee; margin-top: 4%;}
.location #myCarousel .nav a { border-radius:0px;}
.location .location-box .col-md-7 .carousel li img{width: 100%;}
.location .location-box .bottombox{width: 97%; margin-left: 17px; border: 1px solid #d4d4d4; margin-top: 1%;
background: #f0ecec url(../image/map-desktop.png) no-repeat left center; 
box-shadow:1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white;}
.location .location-box .bottombox .flaticon-map-location{font-size: 44px;}
.location .location-box .bottombox .col-md-6 h4{text-align: right; margin-top: 5%}
.location .location-box .bottombox  .btn-primary {border-radius: 0px; color: #fff; background-color: #52bf0e; border-color: #52bf0e; margin-top: 5%;}
.location .location-box .bottombox  .btn-primary:hover{background: #4113c4;border-color: #4113c4}
.location .location-box .bottombox .modal-content{border-radius: 0px;}
.location .location-box .bottombox h4{text-align: center; color: #4113c4}
.location .details .col-md-7{padding-right: 5%; padding-left: 5%; border-left: 2px solid #e8dfff; margin-top: -3%}
.location .details .right-box{border-bottom: 1px solid #5325d8;} 
.location .details .right-box .col-md-2{border-bottom: 4px solid #5325d8; text-align: center}
.location .details .left-box{border-bottom: 1px solid #5325d8}
.location .details .col-md-5{padding-left: 5%; padding-right: 5%}
.location .details .col-md-5 .col-md-3{padding-right: 0px; padding-right: 0px; border-bottom: 4px solid #5325d8;} 
.location .details{margin-top: 9%;}
.location .details .col-md-7 li{text-align: right; display: inline; direction: rtl;}
.location .details .col-md-5 .term{margin-bottom: 5%; padding-right: 5%;border: 1px solid #d4d4d4;padding-top: 4%; box-shadow: 1px 1px 2px rgb(212, 212, 212), 0 0 25px #c9c9c9, 0 0 5px white;}
.location .details .col-md-5 .term:hover{background:#d4d4d4}
.location .details .col-md-5 li{text-align: right; display: inline; direction: rtl;}
.location .details .col-md-5 .term .col-md-1{padding-left: 0px; padding-right: 0px}
.location .details .col-md-5 .term .flaticon{font-size: 30px}
.location .location-box .bottombox .container-fluid .modal iframe{border: 0;width: 145%;height: 390px;}
.location .require { color: #666;}
.location label small { color: #999; font-weight: normal;}
.location .location-box .form{width: 72%; border: 1px solid #eee;box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white; border-radius: 0px;}
.location .location-box .form .col-md-2{padding-left: 0px; padding-right: 0px;border-bottom: 3px solid #5325d8}
.location .location-box .form .text-box{border-bottom:1px solid #5325d8}
.location .location-box .form .form-control{border-radius: 0px; border-color: #5325d8;}
.location .location-box .form h2{text-align: center;color: #000;}
.location .location-box .form h4{text-align: right; direction: rtl;}
.location .location-box .form .btn-primary{border-radius: 0px; color: #fff; background-color: #52bf0e; border-color: #52bf0e;}
.location .location-box .form .btn-primary:hover{background: #4113c4; border-color:#4113c4; }
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/*Comment List styles*/
.location .comment-list .row { margin-bottom: 0px;}
.location .comment-list .panel .panel-heading {padding: 4px 15px; position: absolute; border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px; top: 1px;}
.location .comment-list .panel .panel-heading.right {border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px; right: 16px;}
.location .comment-list .panel .panel-heading .panel-body { padding-top: 6px;}
.location .comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
.location .comment-list .arrow:after, .comment-list .arrow:before {content: ""; position: absolute; width: 0; height: 0; border-style: solid; border-color: transparent;}
.location .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before { border-right: 0;}
  /*****Left Arrow*****/
  /*Outline effect style*/
.location .comment-list .panel.arrow.left:before { right: 0px; top: 30px;
	/*Use boarder color of panel*/
	 border-left-color: inherit; border-width: 16px;}
  /*Background color effect*/
.location .comment-list .panel.arrow.left:after { left: 1px; top: 31px;
	/*Change for different outline color*/
	 border-right-color: #FFFFFF; border-width: 15px;}
  /*****Right Arrow*****/
  /*Outline effect style*/
.location .comment-list .panel.arrow.right:before { right: -16px; top: 30px;
	/*Use boarder color of panel*/
	border-left-color: inherit; border-width: 16px;}
  /*Background color effect*/
.location .comment-list .panel.arrow.right:after { right: -14px; top: 31px;
	/*Change for different outline color*/
	border-left-color: #FFFFFF; border-width: 15px; }
}
.location .comment-list .comment-post {margin-top: 6px;}
.location .comment{width: 70%;}
.location .comment h2{text-align: center; direction: rtl; color: #000; margin-bottom: 1%}
.location .comment p{text-align: right; direction: rtl}
.location .comment .comment-list .panel-default{border-radius: 0px; border-color: #5325d8;}
.location .comment .comment-list .panel-default .text-right .btn-default{border-radius: 0px}
.location .thumbnail{border-radius: 0px; border-color: #5325d8;}
.location .comment .text-box{border-bottom: 1px solid #4113c4}
.location .comment .text-box .col-md-2{border-bottom: 3px solid #4113c4}



@media (max-width:767px){
	.location{width: 100%;margin-left: 0%;}
	.location .location-box .textbox li{margin-right: 2%; width: 48%;}
	.location .location-box .textbox .col-md-5{padding-right: 2%;}
	.location .details .col-md-7 {padding-right: 12%;padding-left: 13%;}
	.location .location-box .bottombox {width: 88%;}
	.location .location-box .bottombox .col-md-6 h4 {margin-top: 20%;font-size: 9px;}
	.location .location-box .bottombox .btn-primary {margin-top: 3%;margin-left: 20%;margin-bottom: 6%;}
	.location .location-box .bottombox .col-xs-8{padding-right: 0px;padding-left: 0px;}
	.location .details .col-md-5{padding-left: 10%; padding-right: 10%;}
	.location .details .col-md-5 .term .col-xs-10{padding-right: 0px; padding-left: 0px;}
	.location .details .col-md-5 .term{width: 130%;margin-left: -24%;}
	.location .term h5{font-size: 10px;}

}
/*end location*/

/*start contact*/

.contact{padding-right: 5%; padding-left: 5%; text-align: right;}
.contact h5{direction: rtl;}
.contact .contact-box{background: #fff; padding-right: 5%; padding-left: 5%;}
.contact .contact-box .col-md-12{padding-right: 40px;}
.contact .contact-box .col-md-12 .container{width: 100%;}
.contact .contact-box iframe{width: 100%; margin-bottom: 2%; margin-top: 1%; box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white; }
.contact .text{background: #fff;border-bottom: 1px solid #4113c4; padding-right: 0px; padding-left: 0px;}
.contact .text .col-md-2{border-bottom: 3px solid #4113c4; text-align: center}
.contact .contact-box .container .well-sm{border-radius: 0px; text-align: right; direction: rtl; background: #e8dfff; box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white; }
.contact .contact-box .col-md-12 .container address .flaticon{font-size: 25px; color: #000}
.contact .contact-box .col-md-12 .container address .flaticon:hover{color:#52c007 }
.contact .contact-box .col-md-12 .col-md-4{text-align: center}
.contact .contact-box .container .well-sm button{margin-right: 87%;border-radius: 0px;background: #52c007;border-color: #52c007;}
.contact .contact-box .container .well-sm button:hover{background:#4113c4; border-color:#4113c4; }
.contact .contact-box .col-md-12 .container address a{text-decoration: none}
.contact .contact-box .container .well-sm .form-group .input-group{display: block;}
.contact .contact-box .container .well-sm input{border-radius:0px }
.contact .contact-box .container .well-sm .form-control{border-radius: 0px; border-color: #4113c4;}

/*end contact*/
/*start about-us*/

.about{padding-left: 5%; padding-right: 5%; text-align: right; direction: rtl}
.about .about-box .text{border-bottom:1px solid #4113c4; padding-left: 0px; padding-right: 0px}
.about .about-box .text .col-md-2{border-bottom:3px solid #4113c4; text-align: center}
.about .about-box .img-box{padding-left: 20%; padding-right: 20%; }
.about .about-box .img-box img{width: 100%;  box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white; }
.about .about-box .title-box{padding-left: 10%; padding-right: 10%}
.about .about-box .title-box h2{text-align: center; }

/*end about-us*/

/*start location-list*/

.location-list{text-align: right; direction: rtl ;padding-left: 5%; padding-right: 5%; background: #e8dfff}
.location-list .well{border: 0px; background: #fff; margin-bottom: 0px; border-radius: 0px; padding-left: 5%; padding-right: 5%;}
.location-list .well .text-box{border-bottom: 1px solid #5325d8;}
.location-list .well .text-box .col-md-5{border-bottom: 3px solid #5325d8;padding-left: 0px; padding-right: 0px}
.location-list a.list-group-item { height:auto; min-height:220px; border-radius: 0px; margin-bottom: 1%; border: 1px solid #e8dfff;  box-shadow: 1px 1px 2px rgb(166, 166, 166), 0 0 25px #aaa, 0 0 5px white; background: #e8dfff}
.location-list a.list-group-item .btn-primary{background: #52bf0e; border-color:#52bf0e; border-radius: 0px}
.location-list a.list-group-item .btn-primary:hover{background:#5325d8; border-color:#5325d8}
.location-list a.list-group-item .pull-left img{border-radius: 0px}
.location-list a.list-group-item.active small { color:#fff;}
.location-list .stars { margin:20px auto 1px;}
.location-list .well .list-group .text-center img{width: 15%; margin-bottom: 3%;}
.location-list a.list-group-item .pull-left{margin-top: 13%;}

/*end location-list*/

/*start register*/

.register{padding-left: 5%; padding-right: 5%; text-align: right; direction: rtl; background: #e8dfff}
.register .register-box{background: #fff;}
.register .register-box .col-md-6{padding-right: 6%; padding-left: 3%;}
.register .register-box .text-box{border-bottom:1px solid #5325d8}
.register .register-box .text-box .col-md-4{border-bottom: 3px solid #5325d8 }
.register input[type=text], select, textarea {height: 35px; width: 100%;
/* Full width */
padding: 0px;
/* Some padding */
border: 1px solid #5325d8;
/* Gray border */
border-radius: 0px;
/* Rounded borders */
box-sizing: border-box;
/* Make sure that padding and width stays in place */
margin-top: 6px;
/* Add a top margin */
margin-bottom: 16px;
/* Bottom margin */
resize: vertical
/* Allow the user to vertically resize the textarea (not horizontally) */}
/* Style the submit button with a specific background color etc */
.register input[type=submit] {margin-bottom: 2%; float: left; background-color: #52C007; color: white; padding: 10px 30px; border: none; border-radius: 0px; cursor: pointer;}
/* When moving the mouse over the submit button, add a darker green color */
.register input[type=submit]:hover {background-color: #5325d8}
/* Add a background color and some padding around the form */
.register .container {border-radius: 5px; background-color: #f2f2f2; padding: 20px;}
.register .register-box .col-md-6 .term{border:1px solid #5325d8; padding: 3%; margin-top: 7px; line-height: 25px;}
.register .register-box form .letter-box{width: 100%; padding: 3%; border: 1px solid #5325d8; margin-right: 0px; margin-bottom: 10px;}
 
@media (max-width:768){
  
}
/*end register*/