    /*
    Flaticon icon font: Flaticon
    Creation date: 17/09/2018 10:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-search:before { content: "\f100"; }
.flaticon-trolley:before { content: "\f101"; }
.flaticon-salon:before { content: "\f102"; }
.flaticon-drug:before { content: "\f103"; }
.flaticon-apartment:before { content: "\f104"; }
.flaticon-jigsaw:before { content: "\f105"; }
.flaticon-tent:before { content: "\f106"; }
.flaticon-dish:before { content: "\f107"; }
.flaticon-teamwork:before { content: "\f108"; }
.flaticon-location-pointer:before { content: "\f109"; }
.flaticon-social-youtube-circular-button:before { content: "\f10a"; }
.flaticon-google-plus-logo-button:before { content: "\f10b"; }
.flaticon-facebook-logo-button:before { content: "\f10c"; }
.flaticon-instagram-logo:before { content: "\f10d"; }
.flaticon-vk-social-logotype:before { content: "\f10e"; }
.flaticon-twitter-logo-button:before { content: "\f10f"; }
.flaticon-map-location:before { content: "\f110"; }
.flaticon-share:before { content: "\f111"; }
.flaticon-business-card-of-a-man-with-contact-info:before { content: "\f112"; }
.flaticon-man:before { content: "\f113"; }
.flaticon-home-icon-silhouette:before { content: "\f114"; }
.flaticon-phone-receiver:before { content: "\f115"; }
.flaticon-cell-phone:before { content: "\f116"; }
.flaticon-like:before { content: "\f117"; }
.flaticon-road-map:before { content: "\f118"; }
    
    $font-Flaticon-search: "\f100";
    $font-Flaticon-trolley: "\f101";
    $font-Flaticon-salon: "\f102";
    $font-Flaticon-drug: "\f103";
    $font-Flaticon-apartment: "\f104";
    $font-Flaticon-jigsaw: "\f105";
    $font-Flaticon-tent: "\f106";
    $font-Flaticon-dish: "\f107";
    $font-Flaticon-teamwork: "\f108";
    $font-Flaticon-location-pointer: "\f109";
    $font-Flaticon-social-youtube-circular-button: "\f10a";
    $font-Flaticon-google-plus-logo-button: "\f10b";
    $font-Flaticon-facebook-logo-button: "\f10c";
    $font-Flaticon-instagram-logo: "\f10d";
    $font-Flaticon-vk-social-logotype: "\f10e";
    $font-Flaticon-twitter-logo-button: "\f10f";
    $font-Flaticon-map-location: "\f110";
    $font-Flaticon-share: "\f111";
    $font-Flaticon-business-card-of-a-man-with-contact-info: "\f112";
    $font-Flaticon-man: "\f113";
    $font-Flaticon-home-icon-silhouette: "\f114";
    $font-Flaticon-phone-receiver: "\f115";
    $font-Flaticon-cell-phone: "\f116";
    $font-Flaticon-like: "\f117";
    $font-Flaticon-road-map: "\f118";