	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/09/2018 10:59
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
margin-left: 20px;
}

.flaticon-search:before { content: "\f100"; }
.flaticon-trolley:before { content: "\f101"; }
.flaticon-salon:before { content: "\f102"; }
.flaticon-drug:before { content: "\f103"; }
.flaticon-apartment:before { content: "\f104"; }
.flaticon-jigsaw:before { content: "\f105"; }
.flaticon-tent:before { content: "\f106"; }
.flaticon-dish:before { content: "\f107"; }
.flaticon-teamwork:before { content: "\f108"; }
.flaticon-location-pointer:before { content: "\f109"; }
.flaticon-social-youtube-circular-button:before { content: "\f10a"; }
.flaticon-google-plus-logo-button:before { content: "\f10b"; }
.flaticon-facebook-logo-button:before { content: "\f10c"; }
.flaticon-instagram-logo:before { content: "\f10d"; }
.flaticon-vk-social-logotype:before { content: "\f10e"; }
.flaticon-twitter-logo-button:before { content: "\f10f"; }
.flaticon-map-location:before { content: "\f110"; }
.flaticon-share:before { content: "\f111"; }
.flaticon-business-card-of-a-man-with-contact-info:before { content: "\f112"; }
.flaticon-man:before { content: "\f113"; }
.flaticon-home-icon-silhouette:before { content: "\f114"; }
.flaticon-phone-receiver:before { content: "\f115"; }
.flaticon-cell-phone:before { content: "\f116"; }
.flaticon-like:before { content: "\f117"; }
.flaticon-road-map:before { content: "\f118"; }